.login-bg{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.login-bg{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
height: 100vh;
}
form{
    background-color:white;
    background-size:cover;
    /* min-width:100px; */
   
    box-shadow: 0 0 10px 5px gray;
    border-radius: 15px;
    padding:10px;

    /* height:400px; */
    display: flex;
    flex-direction: column;
    align-items:center;
    /* justify-content:space-around; */
    gap:20px;
    margin-top: 0;
}
@media (max-width:567px) {
    form{
        width:300px;
    
    }
    
}
@media (min-width:568px) {

    form{
        width:500px;
    }
}
.img-logo{
    height:180px;
}
.inputs{
    caret-color:gray;
    color:gray;
    border:1px solid rgba(128, 128, 128, 0.431);
    display: block;
    outline: none;
    width:300px;
    height:30px;
    padding: 5px;
    border-radius: 5px;
    /* border:none; */


}
.login-button{
    height:40px;
    width:80px;
    background-color: aquamarine;
    border:0;
    border-radius: 10px;
    color: white;
}
label{
   padding: 10px;
   margin-bottom:20px;
   gap:20px;
   /* color:aqua; */
   font-family: monospace;
}
input{
    margin:10px;
}
