.filter-sub{
    display: flex;
    justify-content: space-between;
    gap:40px;
    margin:15px 45px 15px 45px;
}
.filter-section{
    position: sticky;
    z-index:1;
    top:0px;
    background-color: white;
    height:100%;

}
.filter-sub>div{
    display: flex;
  gap: 20px;
}
.hr{
    margin-top:20px;
    width:1350px;
max-width:100vw;
}
.bu1{
    border: none;
    outline: none;
    text-decoration:underline;
    background-color:white;
    color:gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.filter-sub>div>div{
    display:flex;
}
div>div>p{
    /* color:gray */
}
.products-cat{
    display: flex;
    flex-direction: column;
  justify-content:flex-start;
     align-items:flex-start;
     /* gap:20px; */
     font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

.products-cat>div>input{
    /* font-family:monospace; */
    accent-color:gray;
    margin-right:10px;
}
.section-products{
    display: flex;
    /* overflow: hidden; */
    height:100%;
}
@media (max-width:578px){
    .sm-section{
         display: block !important;

    }
    aside{
        display: none;
    }

    .lg-section{
        display:none !important;
    }
    .bu{
        border:0;
        outline:none;
        background-color:white;
        display: flex;
        font-weight:bold;
    }
    .products-cat>div{
        /* display: flex; */
        /* justify-content: flex-start; */
        margin-left: 10px;
    
        margin-top: 0px;

    }
    .products-cat{
        /* z-index:1;
        position: absolute; */
        background-color:white;
        height: 100px;
        margin:0 10px;

        /* transform: translateY(-30px); */
        /* transition: background-color 2s ease-in; */
        /* border-radius: 10px; */
        /* box-shadow: 0px 0px 13px 1px gray; */

    }
}
@media (min-width:579px){
    .sm-section{
         display: none!important;

    }
    .lg-section{
        display:block;
    }
    .products-cat>div{
        /* display: flex;
        justify-content: center; */
        margin-left: 10px;
        margin-top: 10px;
    }
    main{
       width:auto;
       /* flex:1; */
       box-sizing: border-box;
       flex-grow: 1;
       overflow-x: hidden;
        /* min-width:80vw; */
    }
    aside{
        width:20vw;
        /* min-width:0vw; */
    }
}
aside{
    /* width:20%; */

    /* padding-left:20px; */
    /* position: sticky; */
     
   /* top:0; */
   /* left:0; */
   /* margin-right:0;  */
   /* padding-left:10px; */
   
    
}
main{
    width:75vw;
    height: 100%;
   /* width: 100%; */
    /* overflow-y: auto; */
    box-sizing: border-box;
   
}
.selection{
    border:0px;
    outline: none;
    font-weight: bold;
}
.bu2{
    border:0;
    outline: none;
    background-color:white;
}
.products-list{
    display: flex;
    justify-content: flex-start;
    /* align-items:center; */
    flex-wrap: wrap;
gap: 15px;
width:100%;
/* margin-right:20px; */
margin-left:0;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color:blue; */
    height:20vh;
    width:100vw;

}