.failure-bg{
    display: flex;
    flex-direction:column;
    justify-content:center;
    padding-top:40px;
    
    align-items: center;
    background-image: url('https://previews.123rf.com/images/pa3x/pa3x1605/pa3x160500006/56425146-404-error-web-page-background-vector-design-page-not-found-template-with-typography.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    /* height:100%; */
    height: 100vh;

    
    /* width:500px; */
    /* padding-bottom: 40px; */
}
.failure-bg>div{
    position: relative;
    top:250px;
}
.failure-image{
    height:100px;
    background-color:white;
    
}
.failure-bu{
    margin-right:20px;
    /* padding: 20px; */
    height:40px;
    width:100px;
    background-color:#EB5239;
    border:0px;
    align-self: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    position: relative;
    left:130px;
}
.para-failure{
    font-size:2rem;
    color:#EB5239;
}