.filter-sub{
    display: flex;
    justify-content: space-between;
    margin:15px 45px 15px 45px;
}
.filter-sub>div{
    display: flex;
  gap: 20px;
}
.hr{
    width:1350px;
max-width:100vw;
}
button{
    border: none;
    outline: none;
    text-decoration:underline;
    background-color:white;
    color:gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.filter-sub>div>div{
    display:flex;
}
div>div>p{
    /* color:gray */
}