.header-bg{
  
width:100vw;
}

@media (max-width:568px) {
    .header-bg{
        width:100vw;
    }
    .blacky{
        width:100vw;
    }
    .header-logo{
        height:70px;
        width:70px;
    }
    .nav-items{
        gap:25px;
        font-size:1em;
    }
    .web-title{
        display: none;
    }
    .header-title>h1{
        font-size:20px;

            font-family:monospace;
}
    
    
}
/* *{
    width:100%;
} */
.header-logo{
    max-width:100px;
    max-height:100px;
    /* border:2px solid rgb(4, 104, 86); */
    border-radius:50%;
   object-fit:cover;
   /* flex-shrink:1; */
    
    
}
.header-logo:hover{
   transform: scale(1.2);
   transition:transform 1s ease-in-out;
}
.header-section{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin:5px 20px 5px 20px;

}
.header-icons{

    display: flex;
    cursor: pointer;
}

.icons{
    display:flex;
    gap:20px;
   
}

.header-icons>select{
    margin-left:20px;
    cursor: pointer;
    border:none;
    outline:none;
    font-weight:bold;
}
nav{
    display:flex;
    justify-content: center;
}
@media (min-width:578px) {
   .nav-items{
    font-size:1rem;
    gap:45px;
   }
   .web-title{
    display: block;
   }
   .header-title>h1{
    font-family:monospace;
    font-size: 3rem;
  }
    
}
.nav-items{
display: flex;
justify-content: space-around;

font-weight:bold;
font-family: monospace;

}
.nav-items>p:hover{
    border-bottom:1px solid gray;
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}


hr{
    border:0.8px solid rgba(177, 175, 175, 0.506);
}

.header-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.header-title>p{
    text-align: center;
    flex-wrap: wrap;
    color: gray;
    min-width: 300px;
    max-width:700px;
    font-weight: 300;
}
.header-title>hr{
width:1350px;
max-width:100vw;
    /* min-width: 900px; */
}

.blacky{
    height:30px;
    width: 100%;
    flex-grow: 2;
    /* width:100%; */
    background-color:black;
}