*{
    
    /* color: white; */
}
.footer{
    background-color: black;
   
}
.footer-first>div{
    margin-top:20px;

}
.footer-first>h1{
    text-transform:uppercase;
}
.footer-section{
    /* background-color:black; */
    color: white!important;
    height: 100%;
    margin:40px;
    margin-bottom:0;
    padding:20px 30px 20px 30px;
}
.footer-first{
    display: flex;
    justify-content: space-between;
    color:white!important;
    font-family: monospace;
    gap:20px;
}
.footer-bu1{
    background-color: transparent;
    color:gray;
    border: 1px solid gray;
    outline:none;
    height: 30px;
    margin:20px;
    cursor: pointer;
    width:100px;
    /* opacity:1; */
}
.footer-first>p{

    font-size:10px;
}
.input-footer{
    height:30px;
    min-width: 200px;
    max-width: 300px;
    caret-color:rgb(14, 160, 212);
    color:rgb(14, 160, 212);
    outline: none;
    margin-top:20px;
}
.footer-sub>div{
display: flex;
align-items:center;
gap:10px;
}

.footer-sub>h1{
    font-size: 1rem;
}
.footer-section>p{
    font: size 10px !important;
    color:white !important;
}
.footer-ima{
    height:30px;
    border-radius:40px;
    object-fit: cover;
    background-size: cover cover;
    background-position: center center;
}
.line{
    background-color:white;
 height:1px;
}
.second-list1{
    list-style-type: none;
 
}
a{
    text-decoration:none;
    color:white;
}
.footer-second{
    display: flex;
    justify-content: space-around;
    font-family: monospace;
}
@media (max-width:578px) {
    .footer-first{
        display: flex;
        flex-direction: column;
       
    }
    .footer-second{
        display: flex;
        flex-direction: column;
        border-bottom:2px solid white;
    }

    
}
ul>li{
    padding:5px;
}
.copyright{
    text-align: center;
    color: gray;
}
.ima-footer{
    height: 35px;
    object-fit: cover;
    /* padding: 50px; */
    /* font-size:10px; */
    width: 60px;
    background-color:white;
    margin-left:10px;
    border-radius:5px ;
}
.ima-footer:hover{
    transform: scale(1.3);
}
.footer-icons{
    height: 70px;
    width: 100px;
}